# Local env
.env
.env.*
!.env.example

# Nuxt
.output/
.nuxt/
.nitro/
.cache/
.data/
dist/

# Dependencies
node_modules/

# Logs & test
logs/
*.log
coverage/
.temp/
.pnpm-store/

# IDE (share team settings if needed)
.history/
.idea/
.fleet/
*.swp
.DS_Store
Thumbs.db

# Keep shared VS Code config
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
