# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env.*
*.sqlite3
*.db
*.log

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Pytest
.pytest_cache/
.coverage
htmlcov/
.tox/

# FastAPI/Uploads
uploads/
*.bak

# VSCode
.vscode/
*.code-workspace

# Node/Nuxt/Frontend
node_modules/
dist/
.nitro/
.nuxt/
pnpm-lock.yaml
yarn.lock
npm-debug.log*
.DS_Store

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
*.swp
*.swo
.idea/
*.iml